$selectionPageItemHeight: 100px;
.selection-page {
  padding: $paddingLateral $paddingLateral 0;
  .title {
    text-align: left;
    @include down-xs{
      text-align: center;
    }
  }
  .selection-items {

    margin-top: $paddingLateral;
    @include down-xs{
      text-align: center;
    }
    .selection-item {

      height: $selectionPageItemHeight;
      width: $selectionPageItemHeight;
      text-decoration: none;
      display: inline-block;
      box-shadow: 0 3px 6px 0 #555;
      vertical-align: middle;
      border-radius: 20%;
      margin: 10px;


      &:hover {
        opacity: 0.7;
      }
      a {
        line-height: $selectionPageItemHeight;
        vertical-align: middle;
        font-size: 150%;
        color: black;
      }
      img {
        width: $selectionPageItemHeight;
        height: $selectionPageItemHeight;
        border-radius: 20%;
      }
    }
  }
}