/********** INDEX *********************/
body{
    background: url("../img/background.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -khtml-opacity: .50;
    height: 100%;
}

a{
    font-size: 12px;
    text-decoration: none !important;
}
.js-draft{
    display: none;
}


.titulo{
    text-align: center;
    font-family: 'Lobster', cursive;
}

.ventana{
    margin-top: 17vh;
}

#feedBack{
    background-color: rgba(244, 67, 54, 1);
}

.js-contenido{
    padding-top: 8vh;
}

/********** navBar *********************/
header{
    white-space: nowrap;
}

.mdl-menu__container {
    right: 10px !important;
}

#navBar{
    display: none;
}
.mdl-layout__header-row{
    padding-left: 10px;
}
nav {
    width:100%;
}
.search:focus {
    outline: none !important;
    border:0px 0px 1px 0px solid black;
    box-shadow: 0 0 0px;
}
.img {
    height: 50px;
    width: 50px;
    background-image: url("https://http2.mlstatic.com/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg");
    background-size: 50px 50px;
    border-radius:50%;
    float: right;
}
.buscarMovil {
    height: 60px;
    width: 60px;
    margin-bottom: 3.5%;
    margin-right: 3.5%;
}
.buscarPC {
    visibility: hidden;
}

.botonEmp .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:green;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:1000;
    animation: bot-to-top 2s ease-out;
    
}

.botonEmp ul{
    position:fixed;
    right:40px;
    padding-bottom:20px;
    bottom:80px;
    z-index:100;
}

.botonEmp ul li{
    list-style:none;
    margin-bottom:10px;
}

.botonEmp ul li a{
    background-color:green;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    width:60px;
    height:60px;
    display:block;
}


.botonEmp .my-float{
  font-size:24px;
  margin-top:18px;
}

.botonEmp a#menu-share + ul{
  visibility: hidden;
}


/********** login *********************/


.ui-slider{
    margin-bottom: 20px;
}

#login .mdl-button{
    padding-left: 40%;
    padding-right: 40%;
    background-color: ;
}


#registro .volver{
    margin: 20px 10px -35px 10px;
}


.pass-forgot{
    width: 100%;
    float: right;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    padding-bottom: 20px;
    color : rgb(64,196,255);

}

.card-me {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.mdl-cell--12-col{
    display: flex;
    justify-content: center;
}

.login-box {
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

.social-button {
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#us-connect {
    background: rgb(255, 255, 255) no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(64,196,255);
}

#us-connect:hover {
    border-color: rgb(64,196,255);
    background: rgb(64,196,255) no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

#us-connect span {
    text-align: center;
    box-sizing: border-box;
    color: rgb(64,196,255);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(64,196,255);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#us-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


#google-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://eswarasai.com/projects/social-login/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

#google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn, .input-group-btn .btn {
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow,transform;
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    background: 0 0;
}

/********** dialog *********************/



/********** cards *********************/

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: rgba(0, 0, 0, .5) url('http://icons.iconarchive.com/icons/fasticon/twitter-square/256/twitter-square-icon.png') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.precio {
    float: right;
    background-color: red;
    width: 20%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 15px 0 15px 0;
}

.pre {
    margin: 0;
    padding: 0;
}

.serv {
    /*border: 1px solid black;*/
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.valPre {
    margin: 10px 0;
}

.cardBackground {
    text-align: center;
}

.cardImg {
    height: 150px;
    width: 150px;
    background: url("http://icons.iconarchive.com/icons/fasticon/twitter-square/256/twitter-square-icon.png") no-repeat center;
    margin: 0px auto;
}

.fechaIni {
    float: left;
    background-color: red;
    width: 35%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 0 15px 0 15px;
}

@media only screen and (min-width: 768px) {
    .buscarMovil {
        display: none;
    }
    .buscarPC{
        visibility: visible;
    }
    .botonEmp{
        display: none;
    }

    .card-me, .mdl-dialog{
        width: 580px;
    }

    .mdl-textfield{
        width: 600px;
    }

    .mdl-menu__container {
        right: 80px !important;
    }
}